:root {
    --white-color: #FFF;
    --gray-color: #F5F5F5;
    --smothpink-color: #FF93B3;
    --strongpink-color: #ED406E;
    --black-color: rgba(0, 0, 0, 0.781);
}

.opiniones .card-opiniones {
    width: 585px;
    height: 160px;
    background-color: var(--gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.5s;
}

.opiniones .card-opiniones:hover {
    box-shadow: 7px 7px 0px var(--strongpink-color);
}

.opiniones .card-opiniones .card-opiniones-img {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.card-opiniones-img img {
    width: 60px;
    margin-top: 20px;
}

.card-opiniones-img p {
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    top: 80px;
}

.opiniones .card-opiniones .card-opiniones-info {
    width: 80%;
    height: 100%;
    position: relative;
}

.opiniones .card-opiniones .card-opiniones-info .icon-absolute {
    width: 50px;
    position: absolute;
    top: -28px;
    left: 150px;
}

.opiniones .card-opiniones .card-opiniones-info p {
    margin-top: 20px;
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 16px;
    width: 95%;
}

@media screen and (max-width: 700px) {
    .opiniones .card-opiniones {
        height: auto;
    }

    .opiniones .card-opiniones .card-opiniones-info .icon-absolute {
        left: calc(50% - 50px);
    }
    
}